@media (max-width: 1400px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 6px;
    }

    .top-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        top: 7.5rem;
    }

    .top-menu.show {
        position: fixed;
        background: #7785ca;
        top: 0;
        right: 0;
        width: 15rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 9;
    }

    .top-menu.show .top-menu-item {
        margin-top: 3rem;
        padding: 1rem;
        z-index: 9;
    }

    .top-menu-item:not(:last-child) {
        margin-right: 0;
    }

    .top-menu-item:hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background: white;
        left: 0;
        top: 6rem;
    }

    .logo {
        font-size: 3.5rem;
    }

    .hero-link {
        font-size: 1.3rem;
    }

    .hero-title {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin: 2rem 0 3rem;
    }

    .btn {
        width: 14rem;
    }

    .info-company {
        padding: 5rem 0;
    }

    .title-company {
        font-weight: bold;
        font-size: 2.8rem;
        line-height: 4rem;
        margin-bottom: 2.5rem;
    }

    .desc-company {
        font-size: 1.3rem;
    }

    .company-content {
        margin-top: 5rem;
    }

    .service-icon {
        width: 6rem;
        height: 6rem;
    }

    .service-icon:before {
        width: 9rem;
        height: 9rem;
    }

    .row {
        margin: 0 2rem;
    }

    .info-company .col-4 {
        width: 33.3333%;
        padding: 0 2rem;
    }

    .services-item {
        margin-left: 8rem;
    }

    .title-company-content {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-top: 4rem;
    }

    .desc-company-content {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .info-company .btn {
        margin-top: 3.5rem;
    }

    .underline {
        width: 65rem;
    }

    .projects {
        padding: 5.5rem 0 7rem;
    }

    .projects .row {
        margin: 0 2rem;
    }

    .projects .col-6 {
        padding: 0 1rem;
    }

    .projects .underline {
        bottom: 9rem;
    }

    .content-projects {
        margin-top: 1rem;
    }

    .title-projects {
        font-size: 2.6rem;
        line-height: 3rem;
        padding-bottom: 2rem;
    }

    .desc-projects {
        font-size: 1.2rem;
        line-height: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .link-project {
        font-size: 1.2rem;
        line-height: 0;
    }

    .standard-list {
        margin-top: 8rem;
    }

    .standard-icon h4 {
        padding: 0 0.5rem 0.5rem;
        font-size: 3rem;
        line-height: 3rem;
    }

    .standard-item p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .team-project {
        padding: 4rem 0 8rem;
    }

    .team-project:before {
        height: 30%;
    }

    .team-project .underline {
        bottom: 4.5rem;
    }

    .title-team-project {
        font-size: 2.8rem;
        line-height: 4.5rem;
    }

    .team-project .row {
        margin: 0 -0.7rem;
    }

    .team-project .col-4 {
        width: 33.3333%;
        padding: 0 0.7rem;
    }

    .title-team-content {
        padding: 1.5rem 0;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .desc-team-content {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .link-team-project {
        padding-top: 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .our-project {
        padding: 4.5rem 0 6rem;
    }

    .title-our-project {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }

    .desc-our-project {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-bottom: 4rem;
    }

    .our-project .row {
        margin: 0 2rem;
    }

    .our-project .col-3 {
        width: 50%;
        padding: 1.5rem 1rem;
    }

    .our-project .btn {
        margin-top: 2.5rem;
    }


    .hero-project-video {
        height: 50rem;
    }

    .hero-project-video .underline {
        bottom: -12rem;
    }

    .title-hero-project-video {
        font-size: 3rem;
        line-height: 1.5rem;
        padding-top: 9rem;
    }

    .desc-hero-project-video {
        font-size: 1.4rem;
        line-height: 2rem;
        padding-top: 2rem;
    }

    .video-player {
        bottom: -8rem;
        max-width: 62rem;
        height: 34rem;
    }

    .player {
        width: 20rem;
        height: 6rem;
    }

    .player span {
        padding-left: 0.8rem;
    }

    .subscribe {
        margin-top: 17rem;
    }

    .title-subscribe {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 1rem;
    }

    .desc-subscribe {
        font-size: 1.3rem;
        line-height: 2.5rem;
        padding-bottom: 3rem;
    }

    .input-registration {
        padding: 0.8rem 0.5rem 0.8rem 3.3rem;
        width: 26rem;
    }

    .btn-registration {
        padding: 0.8rem 2.6rem 0.8rem 3.6rem;
        font-size: 1.3rem;
    }

    .decs-bottom-subscribe {
        padding-top: 2rem;
        font-size: 1.3rem;
    }

    .info-others {
        margin-top: 5rem;
        padding: 4rem 0 2rem;
    }

    .info-others .underline {
        bottom: 8rem;
    }

    .footer-content-title {
        padding-bottom: 0.5rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .footer-list-item li:not(:last-child) {
        padding-bottom: 0;
    }

    .info-others .list-item a {
        padding-left: 0.5rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .footer-desc-bottom {
        margin-top: 8rem;
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

}

@media (max-width: 560px) {
    html {
        font-size: 6px;
    }

}


@media (max-width: 480px) {

    html {
        font-size: 5px;
    }

    .underline {
        width: 26rem;
    }

    .logo {
        font-size: 2rem;
        line-height: 2rem;
    }

    .mobile-menu {
        top: 5rem;
    }

    .hero-link {
        font-size: 1.2rem;
    }

    .hero-title {
        font-size: 2rem;
        line-height: 3rem;
        margin: 0.5rem 0 2rem;
    }

    .btn {
        width: 9rem;
        height: 4rem;
        font-size: 1.1rem;
    }

    .hero {
        height: 70vh;
    }

    .info-company {
        padding: 3rem 0;
    }

    .title-company {
        font-size: 1.7rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .desc-company {
        font-size: 1.1rem;
    }

    .service-icon svg {
        width: 3rem;
        height: 3rem;
    }

    .info-company .col-4 {
        width: 100%;
        padding: 0;
    }

    .company-content {
        margin-top: 3.5rem;
    }

    .service-icon {
        width: 5rem;
        height: 5rem;
    }

    .service-icon:before {
        width: 7rem;
        height: 7rem;
    }

    .services-item {
        margin-left: 7rem;
    }

    .title-company-content {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-top: 10rem;
    }

    .desc-company-content {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .info-company .btn {
        margin-top: 3rem;
    }

    .projects {
        padding: 0 0 3.5rem;
    }

    .projects .col-6 {
        width: 100%;
        padding: 1.5rem 1rem;
    }

    .title-projects {
        font-size: 1.9rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

    .desc-projects {
        font-size: 1.1rem;
        line-height: 2.3rem;
        padding-bottom: 0;
    }

    .link-project {
        font-size: 1.2rem;
        line-height: 0;
    }

    .projects .underline {
        bottom: 21rem;
    }

    .standard-list {
        margin-top: 5rem;
        display: flex;
        flex-flow: wrap;
    }

    .standard-icon {
        display: flex;
        padding: 1.5rem;
    }

    .standard-icon {
        display: flex;
        padding: 1.5rem 0 0 1.5rem;
    }

    .standard-icon h4 {
        padding: 0 0.5rem 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    .standard-item p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .team-project {
        padding: 2.5rem 0 4.5rem;
    }

    .team-project .col-4 {
        width: 100%;
    }

    .team-project:before {
        height: 10%;
    }

    .team-project .underline {
        bottom: 2.5rem;
    }

    .title-team-project {
        font-size: 2rem;
        line-height: 3rem;
    }

    .team-project-content {
        padding-top: 3rem;
    }

    .title-team-content {
        padding: 1.5rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .desc-team-content {
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .link-team-project {
        padding-top: 1rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .our-project {
        padding: 3rem 0 4rem;
    }

    .title-our-project {
        font-size: 2.5rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }

    .desc-our-project {
        font-size: 1.2rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .our-project .col-3 {
        width: 100%;
        padding: 1rem 1rem;
    }

    .our-project .btn {
        margin-top: 1.5rem;
    }

    .hero-project-video {
        height: 30rem;
    }

    .hero-project-video .underline {
        bottom: -8rem;
    }

    .title-hero-project-video {
        font-size: 2rem;
        line-height: 1rem;
        padding-top: 5rem;
    }

    .desc-hero-project-video {
        font-size: 1.1rem;
        line-height: 2.5rem;
        padding-top: 1rem;
    }

    .video-player {
        bottom: -4rem;
        max-width: 25rem;
        height: 20rem;
    }

    .player {
        width: 15rem;
        height: 5rem;
    }

    .player span {
        font-size: 1.4rem;
    }

    .subscribe {
        margin-top: 12rem;
    }

    .title-subscribe {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-bottom: 0.5rem;
    }

    .desc-subscribe {
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: 1.5rem;
    }

    .input-registration {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        width: 15.5rem;
    }

    .btn-registration {
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.1rem;
    }

    .decs-bottom-subscribe {
        padding-top: 1.5rem;
        font-size: 1.2rem;
    }

    .info-others {
        margin-top: 3rem;
        padding: 2.5rem 0 2rem;
    }

    .col-3 {
        width: 100%;
        padding: 1rem 1rem;
    }

    .footer-content-title {
        padding-bottom: 0;
        font-size: 1.3rem;
        line-height: 0;
    }

    .info-others .list-item a {
        padding-left: 0.5rem;
        font-size: 1.1rem;
        line-height: 1rem;
    }

    .footer-desc-bottom {
        margin-top: 5rem;
        font-size: 1.1rem;
        line-height: 3rem;
    }

    .mobile-menu {
        width: 4rem;
        height: 3.5rem;
    }

    .top-menu-item:not(:last-child) {
        margin-right: 0;
    }

    .top-menu.show .top-menu-item {
        font-size: 1.2rem;
        margin-top: 4.5rem;
        padding: 1rem;
        z-index: 9;
    }
}


@media (max-width: 320px) {
    html {
        font-size: 4px;
    }

    .underline {
        width: 26rem;
    }

    .logo {
        font-size: 2rem;
        line-height: 2rem;
    }

    .mobile-menu {
        top: 5rem;
    }

    .hero-link {
        font-size: 1.2rem;
    }

    .hero-title {
        font-size: 2rem;
        line-height: 3rem;
        margin: 0.5rem 0 2rem;
    }

    .btn {
        width: 9rem;
        height: 4rem;
        font-size: 1.1rem;
    }

    .hero {
        height: 70vh;
    }

    .info-company {
        padding: 3rem 0;
    }

    .title-company {
        font-size: 1.7rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }

    .desc-company {
        font-size: 1.1rem;
    }

    .service-icon svg {
        width: 3rem;
        height: 3rem;
    }

    .info-company .col-4 {
        width: 100%;
        padding: 0;
    }

    .company-content {
        margin-top: 3.5rem;
    }

    .service-icon {
        width: 5rem;
        height: 5rem;
    }

    .service-icon:before {
        width: 7rem;
        height: 7rem;
    }

    .services-item {
        margin-left: 7rem;
    }

    .title-company-content {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-top: 1rem;
    }

    .desc-company-content {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .info-company .btn {
        margin-top: 3rem;
    }

    .projects {
        padding: 0 0 3.5rem;
    }

    .projects .col-6 {
        width: 100%;
        padding: 1.5rem 1rem;
    }

    .title-projects {
        font-size: 1.9rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

    .desc-projects {
        font-size: 1.1rem;
        line-height: 2.3rem;
        padding-bottom: 0;
    }

    .link-project {
        font-size: 1.2rem;
        line-height: 0;
    }

    .projects .underline {
        bottom: 21rem;
    }

    .standard-list {
        margin-top: 5rem;
        display: flex;
        flex-flow: wrap;
    }

    .standard-icon {
        display: flex;
        padding: 1.5rem;
    }

    .standard-icon {
        display: flex;
        padding: 1.5rem 0 0 1.5rem;
    }

    .standard-icon h4 {
        padding: 0 0.5rem 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    .standard-item p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .team-project {
        padding: 2.5rem 0 4.5rem;
    }

    .team-project .col-4 {
        width: 100%;
    }

    .team-project:before {
        height: 10%;
    }

    .team-project .underline {
        bottom: 2.5rem;
    }

    .title-team-project {
        font-size: 2rem;
        line-height: 3rem;
    }

    .team-project-content {
        padding-top: 3rem;
    }

    .title-team-content {
        padding: 1.5rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .desc-team-content {
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .link-team-project {
        padding-top: 1rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .our-project {
        padding: 3rem 0 4rem;
    }

    .title-our-project {
        font-size: 2.5rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }

    .desc-our-project {
        font-size: 1.2rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .our-project .col-3 {
        width: 100%;
        padding: 1rem 1rem;
    }

    .our-project .btn {
        margin-top: 1.5rem;
    }

    .hero-project-video {
        height: 30rem;
    }

    .hero-project-video .underline {
        bottom: -8rem;
    }

    .title-hero-project-video {
        font-size: 2rem;
        line-height: 1rem;
        padding-top: 5rem;
    }

    .desc-hero-project-video {
        font-size: 1.1rem;
        line-height: 2.5rem;
        padding-top: 1rem;
    }

    .video-player {
        bottom: -4rem;
        max-width: 25rem;
        height: 20rem;
    }

    .player {
        width: 15rem;
        height: 5rem;
    }

    .player span {
        font-size: 1.4rem;
    }

    .subscribe {
        margin-top: 12rem;
    }

    .title-subscribe {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-bottom: 0.5rem;
    }

    .desc-subscribe {
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: 1.5rem;
    }

    .input-registration {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        width: 15.5rem;
    }

    .btn-registration {
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.1rem;
    }

    .decs-bottom-subscribe {
        padding-top: 1.5rem;
        font-size: 1.2rem;
    }

    .info-others {
        margin-top: 3rem;
        padding: 2.5rem 0 2rem;
    }

    .col-3 {
        width: 100%;
        padding: 1rem 1rem;
    }

    .footer-content-title {
        padding-bottom: 0;
        font-size: 1.3rem;
        line-height: 0;
    }

    .info-others .list-item a {
        padding-left: 0.5rem;
        font-size: 1.1rem;
        line-height: 1rem;
    }

    .footer-desc-bottom {
        margin-top: 5rem;
        font-size: 1.1rem;
        line-height: 3rem;
    }

    .mobile-menu {
        width: 4rem;
        height: 3.5rem;
    }

    .top-menu-item:not(:last-child) {
        margin-right: 0;
    }

    .top-menu.show .top-menu-item {
        font-size: 1.2rem;
        margin-top: 4.5rem;
        padding: 1rem;
        z-index: 9;
    }
}





