* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
.container {
    width: 90%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
    padding-top: 3rem;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}

.col-3 {
    width: 25%;
    padding: 0 0.7rem;
}

.col-4 {
    width: 33.3333%;
    padding: 0 0.7rem;
}

.col-6 {
    width: 50%;
    padding: 0 0.7rem;
}

.underline {
    position: absolute;
    border: 1px solid #E0E0E0;
    width: 110rem;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    width: 20rem;
    height: 4.5rem;
    background: #4985FF;
    border-radius: 3rem;
    color: #ffffff;
    border: none;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 1rem rgb(255, 0, 0);
}

header {
    position: absolute;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 1px solid #A1A1A1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.4rem;
    color: #FFFFFF;
}

.top-menu-item {
    font-weight: 500;
    color: #ffffff;
    position: relative;
}

.top-menu-item:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: white;
    left: 0;
    top: 10rem;
}

.top-menu-item:not(:last-child) {
    margin-right: 4rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/Rectangle.png) no-repeat center/cover;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.4rem;
    color: #FFFFFF;
    margin: 2rem 0 5rem;
}

.hero-link {
    color: #ffffff;
}

.info-company {
    padding: 10rem 0;
    text-align: center;
}

.info-company .btn{
    margin-top: 5.5rem
}

.title-company {
    text-align: center;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.3rem;
    color: #323232;
    margin-bottom: 5rem;
}

.desc-company {
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #999999;
}

.company-content {
    margin-top: 7rem;
}

.title-company-content {
    text-align: left;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-top: 4rem;
}

.desc-company-content {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #999999;
}


.service-icon {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid #4985FF;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}

.service-icon:before {
    content: "";
    position: absolute;
    width: 11rem;
    height: 11rem;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.services-item {
    margin-left: 11.7rem;
}

.col-6 {
    width: 50%;
    padding: 0 6rem;
}

.projects {
    background: #F6F6F8;
    height: 100%;
    padding: 10rem 0 7rem;
    position: relative;
}

.projects .container{
    position: relative;
}


.projects .underline{
    bottom: 15rem;
}
.title-projects {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.3rem;
    padding-bottom: 4rem;
}

.desc-projects {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #999999;
    padding-bottom: 3rem;
}

.link-project {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: #4985FF
}

.content-projects {
    margin-top: 5.2rem;
}

.standard-icon {
    display: flex;
}

.standard-icon h4 {
    padding: 0 2rem 1.7rem;
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 3rem;
}

.standard-item p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #999999;
}

.standard-list {
    margin-top: 16rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-project {
    padding: 10rem 0 17rem;
    position: relative;
}

.team-project .underline{
    bottom: 8.5rem;
}

.team-project:before {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.team-project-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.title-team-project {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.3rem;
    color: #FFFFFF;
}

.team-project-content {
    padding-top: 7rem;
}

.title-team-content {
    padding: 3rem 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.title-team-content span {
    color: #4985FF;
}

.desc-team-content {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #999999;
}

.link-team-project {
    display: inline-block;
    padding-top: 3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: #4985FF;
}

.our-project {
    text-align: center;
    background: #F6F6F8;
    height: 100%;
    padding: 10rem 0 13rem;
}

.our-project .btn{
    margin-top: 5rem;
}

.title-our-project {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.3rem;
    margin-bottom: 5rem;
}

.desc-our-project {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    color: #999999;
    margin-bottom: 7rem;
}

.hero-project-video {
    position: relative;
    text-align: center;
    height: 57rem;
    background: url("../images/hero-project.png") no-repeat center/cover;
}
.hero-project-video .underline{
    bottom: -15rem;
}


.title-hero-project-video {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 5.3rem;
    color: #FFFFFF;
    padding-top: 7rem;
}

.desc-hero-project-video {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    padding-top: 3rem;
}

.video-content {
    text-align: center;
}

.video-player {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -8rem;
    max-width: 97rem;
    height: 43rem;
    background: url("../images/video-img.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.player {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rem;
    border: 1px solid #FFFFFF;
    width: 30rem;
    height: 10rem;
    color: white;
    font-weight: 500;
    padding: 1rem;
}

.player span {
    display: inline-block;
    padding-left: 2.1rem;
}

.subscribe {
    margin-top: 25rem;
    text-align: center;
    position: relative;
}

.title-subscribe {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
}

.desc-subscribe {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #999999;
    padding-bottom: 3rem;
}

.decs-bottom-subscribe {
    padding-top: 3.5rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #999999;
}

.input-registration::placeholder {
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: #999999;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-registration {
    padding: 1.5rem 0.5rem 1.3rem 3.3rem;
    width: 30rem;
    border-radius: 3rem 0 0 3rem;
    border: 1px solid #F2F2F2;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
}

.btn-registration {
    padding: 1.3rem 2.6rem 1.5rem 3.6rem;
    background: #4985FF;
    border-radius: 0 3rem 3rem 0;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: .6s;
}

.btn-registration:hover {
    background: #353535;
}

.info-others {
    margin-top: 8.5rem;
    padding: 7rem 0 3rem;
    background: #F6F6F8;
    position: relative;
}

.info-others .underline{
    bottom: 7.5rem;
}

.footer-desc-bottom {
    margin-top: 10rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: #999999;
}

.list-item a {
    padding-left: 1.2rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #999999;
}

.footer-list-item li:not(:last-child) {
    padding-bottom: 3rem;
}

.footer-content-title {
    padding-bottom: 3.5rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.2rem;
}

.mobile-menu {
    background: #1f1f1f;
    width: 4.5rem;
    height: 4rem;
    border-radius: 0.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    right: 3rem;
    top: 2rem;
    bottom: 0;
    z-index: 11;
}

.mobile-menu span {
    display: inline-block;
    height: 0.4rem;
    width: 100%;
    background: #ffffff;
    position: relative;
}

.mobile-menu span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    bottom: 1rem;
}


.mobile-menu span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    top: 1rem;
}
